<div class="container">
	<div class="row">
		<!-- Search Column -->
		<div class="col-xs-3">
			<!-- Guide search (partial template) -->
			<div class="row">
				<div class="col-xs-10">
					<%= render 'tourist/guides/guide-search' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<p><h3 style="text-align: center;">Information</h3></p>
					<h4><%= link_to "Check your schedule", tourist_schedules_path, class: "btn btn-danger btn-block" %></h4>
					<h4><%= link_to "Blog", blogs_path, class: "btn btn-success btn-block" %></h4>
				</div>
			</div>
		</div>

		<!-- Guide Registration Information -->
		<div class="col-xs-9">
			<div class="row">
				<h3><%= @guides.count %> Guide register</h3>
			</div>
			<div class="card-deck">
				<% @guides.each do |guide| %>
					<div class="card">
						<div class="card-img-top">
							<%= link_to tourist_guide_path(guide) do %>
								<%= attachment_image_tag(guide, :profile_image, :fill, 150, 150, fallback: "no_image.jpg") %>
							<% end %>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								氏名：
								<%= link_to tourist_guide_path(guide) do %>
									<%= guide.first_name %> <%= guide.last_name %>
								<% end %>
							</li>
							<li class="list-group-item">地域： <%= guide.region %></li>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>