<div class="container">
	<div class="row">
		<h3>Guide information</h3>
	</div>

	<!-- Guide information (partial template) -->
	<div class="row">
		<div class="col-xs-6">
			<div>
				<%= render 'guide/guides/guide-info', guide: @guide %>
			</div>
		</div>

		<div class="col-xs-6">
			<%= form_for(@schedule, url: {controller: "guide/schedules", action: :create}) do |f| %>
				<div>
					<h5>Choose your preference day</h5>
					<%= f.date_field :plan %>
					<%= f.hidden_field :guide_id, :value => @guide.id %>
					<%= f.submit "Ask for guidance", class: "btn btn-warning btn-lg center-block" %>
				</div>
			<% end %>
			<div class="row">
				<div class="col-xs-offset-3 col-xs-6">
					<%= link_to "Back", tourist_guides_path, class: "btn btn-primary btn-lg center-block" %>
				</div>
			</div>
		</div>
	</div>

	<!-- List of comments from tourist (partial template) -->
	<div class="row">
		<%= render 'guide/guides/tourist-comment-list', guide: @guide %>
	</div>
</div>