<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="row">
				<h3>Schedule detail</h3>
				<div>
					<% if @schedule.status == "依頼中" %>
						<h4><%= @tourist.last_name %> <%= @tourist.first_name %>さんからの依頼です。</h4>
					<% elsif @schedule.status == "実施不可" %>
						<h4><%= @tourist.last_name %> <%= @tourist.first_name %>さんの依頼は断りました。</h4>
					<% elsif @schedule.status == "実施予定" %>
						<h4>あなたの担当は、<%= @tourist.last_name %> <%= @tourist.first_name %>さんです。</h4>
					<% end %>
				</div>
			</div>

			<div class="row">
				<div>Scheduled date:<%= @schedule.plan %></div>
				<%= form_for(@tourist) do |f| %>
					<div class="col-xs-9">
						<div>
							<div class="card-header">
								<h4><%= @tourist.last_name %> <%= @tourist.first_name %></h4>
							</div>
							<div>
								<div class="col-xs-5">
									<%= attachment_image_tag(@tourist, :profile_image, :fill, 150, 150, fallback: "no_image.jpg") %>
								</div>
								<div class="col-xs-7">
									<p>Introduction</p>
									<P><%= @tourist.introduction %></P>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9">
						<table class="table table-bordered table-inverse">
							<tr>
								<td width = "200" class="info">Gender</td>
								<td><%= @tourist.gender %></td>
							</tr>
							<tr>
								<td width = "200" class="info">Nationality</td>
								<td><%= @tourist.nationality %></td>
							</tr>
							<tr>
								<td width = "200" class="info">Phone number</td>
								<td><%= @tourist.phone %></td>
							</tr>
							<tr>
								<td width = "200" class="info">E-mail</td>
								<td><%= @tourist.email %></td>
							</tr>
						</table>
					<% end %>
				</div>
			</div>

			<div class="row">
				<%= link_to "Back", guide_schedules_path, class: "btn btn-primary btn-lg center-block" %>
			</div>

			<div class="row">
				<%= form_for(@schedule, url: {controller: "guide/schedules", action: :update}) do |f| %>
					<%= f.hidden_field :plan, :value => @schedule.plan %>
					<%= f.hidden_field :status, {value: "実施予定"} %>
					<%= f.submit "ガイドを引き受ける", class: "btn btn-primary btn-lg center-block" %>
				<% end %>
				<%= form_for(@schedule, url: {controller: "guide/schedules", action: :update}) do |f| %>
					<%= f.hidden_field :plan, :value => @schedule.plan %>
					<%= f.hidden_field :status, {value: "実施不可"} %>
					<%= f.submit "ガイドを辞退する", class: "btn btn-warning btn-lg center-block" %>
			  <% end %>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="row">
				<h3>Chat</h3>
				<!-- Chat list (partial template) -->
				<div class="chat_<% @chat.id %>">
					<%= render "guide/chats/guide-chat", chats: @chats %>
				</div>
				<div>
					<h4>New Chat</h4>
					<%= form_with model: [@schedule, @chat], url: guide_schedule_chats_path(@schedule), data: {remote: true} do |f| %>
						<%= f.text_area :message, size: "40×5" %>
						<%= f.submit "Send", class: "btn btn-primary btn-block" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>