<div class="container">

	<!-- Tourist Pfofile -->
	<div class="col-xs-3">
		<div>
			<%= attachment_image_tag(current_tourist, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
		</div>
		<section>
			<h4><%= current_tourist.last_name %> <%= current_tourist.first_name %></h4>
		</section>
		<section>
			<p>Introduction</p>
			<h5><%= current_tourist.introduction %></h5>
		</section>
	</div>

	<!-- Tourist Registration Information -->
	<div class="col-xs-7">
		<div class="row">
			<h3>My page</h3>
		</div>
		<div class="row">
			<h4>Registration information</h4>
			<table class="table table-bordered table-inverse">
				<tr>
					<td class="info">Name</td>
					<td><%= current_tourist.last_name %> <%= current_tourist.first_name %></td>
				</tr>
				<tr>
					<td class="info">Birthday</td>
					<td><%= current_tourist.birthday %></td>
				</tr>
				<tr>
					<td class="info">Gender</td>
					<td><%= current_tourist.gender %></td>
				</tr>
				<tr>
					<td class="info">Nationality</td>
					<td><%= current_tourist.nationality %></td>
				</tr>
				<tr>
					<td class="info">Phone number</td>
					<td><%= current_tourist.phone %></td>
				</tr>
				<tr>
					<td class="info">E-mail</td>
					<td><%= current_tourist.email %></td>
				</tr>
			</table>
		</div>
		<div>
			<%= link_to "Edit", edit_tourist_path, class: "btn btn-primary btn-lg center-block" %>
			<%= link_to "Change your password",new_tourist_password_path(current_tourist), class: "btn btn-warning btn-lg center-block" %>
		</div>
	</div>
</div>