<div class="container">

	<!-- Tourist Pfofile -->
	<div class="col-xs-3">
		<div>
			<%= attachment_image_tag(current_tourist, :profile_image_id, :fill, 100, 100, fallback: "no_image.jpg") %>
		</div>
		<section>
			<h4><%= current_tourist.last_name %> <%= current_tourist.first_name %></h4>
		</section>
		<section>
			<p>Introduction</p>
			<h5><%= current_tourist.introduction %></h5>
		</section>
	</div>

	<!-- Tourist Registration Information -->
	<div class="col-xs-9">
		<div class="row">
			<h3>マイページ(tourist)</h3>
		</div>
		<div class="row">
			<h4>登録情報</h4>
			<table class="table table-bordered table-inverse">
				<tr>
					<td class="info">氏名</td>
					<td><%= current_tourist.last_name %> <%= current_tourist.first_name %></td>
				</tr>
				<tr>
					<td class="info">生年月日</td>
					<td><%= current_tourist.birthday %></td>
				</tr>
				<tr>
					<td class="info">性別</td>
					<td><%= current_tourist.gender %></td>
				</tr>
				<tr>
					<td class="info">国籍</td>
					<td><%= current_tourist.nationality %></td>
				</tr>
				<tr>
					<td class="info">電話番号</td>
					<td><%= current_tourist.phone %></td>
				</tr>
				<tr>
					<td class="info">メールアドレス</td>
					<td><%= current_tourist.email %></td>
				</tr>
			</table>
		</div>
		<div>
			<%= link_to "編集する", edit_tourist_path, class: "btn btn-primary btn-lg center-block" %>
			<%= link_to "パスワードを変更する",new_tourist_password_path(current_tourist), class: "btn btn-warning btn-lg center-block" %>
		</div>
	</div>
</div>