<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="row">
				<h3>Schedule detail</h3>
				<div>
					<% if @schedule.status == "依頼中" %>
						<h4>Requesting to <%= @guide.first_name %> <%= @guide.last_name %> now.</h4>
					<% elsif @schedule.status == "実施不可" %>
						<h4>Have a word of refuse from<%= @guide.first_name %> <%= @guide.last_name %></h4>
					<% elsif @schedule.status == "実施予定" %>
						<h4>Your guide have decided <%= @guide.first_name %> <%= @guide.last_name %></h4>
					<% end %>
				</div>
			</div>

			<div class="row">
				<div>Scheduled date:<%= @schedule.plan %></div>
				<%= form_for(@guide) do |f| %>
					<!-- Guide information (partial template) -->
					<div class="col-xs-9">
						<div>
							<%= render 'guide/guides/guide-info', guide: @guide %>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-9">
						<table class="table table-bordered table-inverse">
							<tr>
								<td width = "200" class="info">Gender</td>
								<td><%= @guide.gender %></td>
							</tr>
							<tr>
								<td width = "200" class="info">Region</td>
								<td><%= @guide.region %></td>
							</tr>
							<tr>
								<td width = "200" class="info">Phone number</td>
								<td><%= @guide.phone %></td>
							</tr>
							<tr>
								<td width = "200" class="info">E-mail</td>
								<td><%= @guide.email %></td>
							</tr>
						</table>
					<% end %>
				</div>
			</div>

			<div class="row">
				<%= link_to "Back", tourist_schedules_path, class: "btn btn-primary btn-lg center-block" %>
			</div>

			<div class="row">
				<h3>Comment</h3>
				<h4>※Please fill in an opinion and an impression for our service.</h4>
				<div>
					<h4>New Comment</h4>
					<div class="col-xs-4">
						<%= form_for(@comment, url: tourist_schedule_tourist_comments_path(@schedule), method: :post) do |f| %>
							<%= f.text_area :comment, size: "40×5" %>
							<%= f.submit "Send", class: "btn btn-primary btn-block" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div>
					<h4>List of Comment</h4>
					<% @guide.tourist_comments.each do |comment| %>
						<div class="comment-body bb">
							<div class="comment-text">
								<div class="comment-author clearfix">
									<span class="comment-meta">
										<%= comment.tourist.last_name %> <%= comment.tourist.first_name %> <%= comment.created_at.strftime('%Y/%m/%d') %>
									</span>
									<% if @tourist.id == current_tourist.id %>
										<%= link_to "Destroy", tourist_tourist_comments_path(comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_tourist_#{comment.id}" %>
									<% end %>
								</div>
								<div class="comment-entry"><%= comment.comment %></div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="row">
				<h3>Chat</h3>
				<!-- Chat list (partial template) -->
				<div class="chat_<% @chat.id %>">
					<%= render "tourist/chats/tourist-chat", chats: @chats %>
				</div>
				<div>
					<h4>New Chat</h4>
					<%= form_with model: [@schedule, @chat], url: tourist_schedule_chats_path(@schedule), data: {remote: true} do |f| %>
						<%= f.text_area :message, size: "40×5" %>
						<%= f.submit "Send", class: "btn btn-primary btn-block" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>