<div class="container">
	<div class="row">
		<h3>スケジュール詳細(tourist)</h3>
	</div>

	<div class="col-xs-9">
		<div class="row">
			<div>
				<% if @schedule.status == "依頼中" %>
					<h4><%= @guide.first_name %> <%= @guide.last_name %>さんへ依頼中です。</h4>
				<% elsif @schedule.status == "実施不可" %>
					<h4><%= @guide.first_name %> <%= @guide.last_name %>さんから断りの連絡が来ました。</h4>
				<% elsif @schedule.status == "実施予定" %>
					<h4>あなたの担当は、<%= @guide.first_name %> <%= @guide.last_name %>さんです。</h4>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div>予定日時<%= @schedule.plan %></div>
			<%= form_for(@guide) do |f| %>
				<div>
					<%= attachment_image_tag(@guide, :profile_image_id, :fill, 100, 100, fallback: "no_image.jpg") %>
				</div>
				<section>
					<p>Introduction</p>
					<h5><%= @guide.introduction %></h5>
				</section>
				<table class="table table-bordered table-inverse">
					<tr>
						<td class="info">性別</td>
						<td><%= @guide.gender %></td>
					</tr>
					<tr>
						<td class="info">地域</td>
						<td><%= @guide.region %></td>
					</tr>
					<tr>
						<td class="info">電話番号</td>
						<td><%= @guide.phone %></td>
					</tr>
					<tr>
						<td class="info">メールアドレス</td>
						<td><%= @guide.email %></td>
					</tr>
				</table>
			<% end %>
		</div>

		<div class="row">
			<%= link_to "一覧へ戻る", tourist_schedules_path, class: "btn btn-primary btn-lg center-block" %>
		</div>

		<div class="row">
			<h3>コメント</h3>
			<div>
				<h4>New Comment</h4>
				<%= form_for(@comment, url: tourist_schedule_tourist_comments_path(@schedule), method: :post) do |f| %>
					<%= f.text_area :comment, size: "90×5" %>
					<%= f.submit "send" %>
				<% end %>
				<h4>List of Comment</h4>
				<% @guide.tourist_comments.each do |comment| %>
					<div class="comment-body bb">
						<div class="comment-text">
							<div class="comment-author clearfix">
								<span class="comment-meta">
									<%= comment.tourist.last_name %> <%= comment.tourist.first_name %> <%= comment.created_at.strftime('%Y/%m/%d') %>
								</span>
								<% if @tourist.id == current_tourist.id %>
									<%= link_to "Destroy", tourist_tourist_comments_path(comment), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_tourist_#{comment.id}" %>
								<% end %>
							</div>
							<div class="comment-entry"><%= comment.comment %></div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-xs-3">
		<div class="row">
			<h3>チャット</h3>
			<div>
				<!-- Chat (partial template) -->
				<div class="chat_<% @chat.id %>">
					<%= render "tourist/chats/tourist-chat", chats: @chats %>
				</div>
				<h4>New Chat</h4>
				<%= form_with model: [@schedule, @chat], url: tourist_schedule_chats_path(@schedule), data: {remote: true} do |f| %>
					<%= f.text_area :message, size: "40×5" %>
					<%= f.submit "send" %>
				<% end %>
			</div>
		</div>
	</div>
</div>