<div class="card-header">
	<h4><%= guide.first_name %> <%= guide.last_name %></h4>
</div>
<div>
	<div class="col-xs-5">
		<%= attachment_image_tag(guide, :profile_image, :fill, 150, 150, fallback: "no_image.jpg") %>
	</div>
	<div class="col-xs-7">
		<p>Introduction</p>
		<P><%= guide.introduction %></P>
		<p>Region：<%= guide.region %></P>
	</div>
</div>