<div class="container">
	<div class="row">
		<!-- Search Column -->
		<div class="col-xs-3">
			<div class="row">
				<div class="col-xs-10">
					<p><h3 style="text-align: center;">Information</h3></p>
					<h4><%= link_to "Blog", blogs_path, class: "btn btn-success btn-block" %></h4>
				</div>
			</div>
		</div>

		<!-- Tourist Registration Information -->
		<div class="col-xs-9">
			<div class="row">
				<h3><%= @tourists.count %> Tourist register</h3>
			</div>
			<div class="row">
				<table class="table table-bordered table-inberse">
					<thead>
						<th width = "200">観光客ID</th>
						<th width = "200">氏名(ガイド)</th>
						<th width = "200">メールアドレス</th>
						<th width = "200">ステータス</th>
					</thead>
					<% @tourists.each do |tourist| %>
						<tbody>
							<td><%= tourist.id %></td>
							<td>
								<%= link_to admin_tourist_path(tourist) do %>
									 <%= tourist.last_name %> <%= tourist.first_name %>
								<% end %>
							</td>
							<td><%= tourist.email %></td>
							<td><%= tourist.status %></td>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>